.main-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;

    @media screen and (max-width: 580px) {
        column-gap: 10px;
    }
}

.list-movie-item {
    display: flex;
    flex-direction: column;
}

.list-movie-item:not(:last-child) {
    margin-bottom: 10px;
}

.list-movie-btn {
    min-height: 50px;
    padding: 10px;
}

.movie-box {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr 28%;
    row-gap: 10px;
    column-gap: 20px;

    @media screen and (max-width: 780px) {
        // grid-template-columns: 190px 1fr;
        grid-template-rows: 1fr 30%;
    }

    @media screen and (max-width: 684px) {
        grid-template-columns: 230px 1fr;
        grid-template-rows: 1fr 45%;
    }

    @media screen and (max-width: 580px) {
        grid-template-columns: 210px 1fr;
        grid-template-rows: 1fr 50%;
        column-gap: 10px;
    }
}

.img-box {
    // justify-self: center;
    // align-self: center;
    outline: 2px solid red;
}

.description-box {
    outline: 2px solid red;
}

.description-text:not(:last-child) {
    margin-bottom: 15px;
}

// grid-area: <name>| <row-start>/ <column-start>/ <row-end>/ <column-end>;

//   grid-column-start: 1;
//   grid-column-end: span col4-start;
//   grid-row-start: 2;
//   grid-row-end: span 2;

.plot-box {
    // grid-area: 1 / first / last-line / 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;

    outline: 2px solid red;
}
